{% extends "layout.html" %}
{%load static %}
{% block title %} Tableau de bord {% endblock %}
{% block content %}


{% if type == "5" %}
<h2 style="text-align: center;"> {{coach}} </h2>
<h3>Sessions que peut enseigner: </h3> {% for session in coach.sessions.all %} {{session}}, {% endfor %}
<h3>Cours enseignés: </h3> {% for cour in cours %} {{cour}}, {% endfor %}

<br/>
<br/>
<h3>Nombre de séances enseignés: </h3> {{sancesDone}}
<h3>Nombre de séances restant: </h3> {{seancesRestant}}
<h3>Salaire: </h3> {{coach.salaire}} DA
{% elif type == "1" %}
<table class="table">
<thead>
<tr>

<th> Jour </th>
<th> Créneaux </th>
</tr>
</thead>
<tbody>
{% for date in dates %}
<tr>
<td>{{date.jour}}</td>
<td>{% for creneau in date.creneau.all %} {{ creneau }} <br>{% endfor %} </td>
</tr>
{% endfor %}

</tbody>
</table>
{% endif %}






{% endblock %}