{% extends "layout.html" %}
{%load static %}
{% block title %} Affichage seance {% endblock %}
{% block content %}


<h2> Description séance </h2>
<div class="title">Date : </div{{ date_seance }} <br/>
<div class="title">Heure : </div>{{ heure_seance }} <br/>
<div class="title">Salle : </div> {{ salle_seance}} <br/>
<div class="title">Statut : </div> {{ statut}} <br/>
<br/>
<br/>

<div class="title">Session : </div> {{matiere}}
<!--<div class="title">Chapitre : </div>{{chapitre}}
<div class="title">Notions</div> {{notions}}-->


<br/>
<br/>

<h2> Eleves inscrits </h2>
<ul>
{% for eleve in eleves %}
    <li>{{ eleve }}</li>
{% endfor %}
</ul>
{% if seance.statut != "Done" %}
<div class="col-lg-4">
<a href="{% url 'annuler seance' seance_id %}"> 
    <button>Annuler la séance
    </button> 
</a>
</div>
<div class="col-lg-4">
<a href="{% url 'edit seance' seance_id %}">
<button> Modifier la séance
</button></a>
</div>
<div class="col-lg-4">
<a href="{% url 'report seance' seance_id %}">
<button>
Déclarer la séance
</button></a>
</div>
{% endif %}

<style type="text/css">


.col-lg-4 {
    padding-right : 40px;
    padding-left : 40px;
}


h1,h2 {
    text-align: center;
}
button {
  width: 100%;
  background-color: #012168;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display : block-inline
  
}

</style>
 {% endblock %} 
 {% block javascript %}

{% endblock %}