{% extends "layout.html" %}
{%load static %}
{% block title %} Affichage seance {% endblock %}
{% block content %}


<h2> Description séance </h2>
<h3>Date : </h3>{{ date_seance }} <br/>
<h3>Heure : </h3>{{ heure_seance }} <br/>
<h3>Salle : </h3> {{ salle_seance}} <br/>
<h3>Statut : </h3> {{ statut}} <br/>
<br/>
<br/>
<h2> Description séance </h2>
<h3>Matière : </h3> {{matiere}}
<h3>Chapitre : </h3>{{chapitre}}
<h3>Notions</h3> {{notions}}


<br/>
<br/>

<h2> Eleves inscrits </h2>
<ul>
{% for eleve in eleves %}
    <li>{{ eleve }}</li>
{% endfor %}
</ul>

<a href="{% url 'annuler seance' seance_id %}"> Annuler la séance </a>
<a href="{% url 'edit seance' seance_id %}">Modifier la séance</a>
<a href="">Déclarer la séance</a>

{% endblock %}