{% extends "layout.html" %}
{%load static %}
{% block title %} Affichage seance {% endblock %}
{% block content %}


<h2> Description séance </h2>
<h3>Date : </h3>{{ date_seance }} <br/>
<h3>Heure : </h3>{{ heure_seance }} <br/>
<h3>Salle : </h3> {{ salle_seance}} <br/>
<h3>Statut : </h3> {{ statut}} <br/>
<br/>
<br/>
<h3>Niveau : </h3> {{niveau}}
<h3>Matière : </h3> {{matiere}}
<!--<h3>Chapitre : </h3>{{chapitre}}
<h3>Notions</h3> {{notions}}
-->

<br/>
<br/>

<h2> Eleves inscrits </h2>
<ul>
{% for eleve in eleves %}
    <li>{{ eleve }}</li>
{% endfor %}
</ul>
{% if statut != "Done" %}
<div class="col-lg-4">
<a href="{% url 'annuler seance' seance_id %}"> 
    <button>Annuler la séance
    </button> 
</a>
</div>
<div class="col-lg-4">
<a href="{% url 'edit seance coaching' seance_id %}">
<button> Modifier la séance
</button></a>
</div>
<div class="col-lg-4">
<a href="{% url 'report seance coaching' seance_id %}">
<button>
Déclarer la séance
</button></a>
</div>
{% endif %}

<style type="text/css">


.col-lg-4 {
    padding-right : 40px;
    padding-left : 40px;
}


h1,h2 {
    text-align: center;
}
button {
  width: 100%;
  background-color: #012168;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display : block-inline
  
}

</style>
 {% endblock %} 
 {% block javascript %}

{% endblock %}