{% extends "layout.html" %}
{%load static %}
{% block title %} Nouveau élève {% endblock %}
{% block content %}


<form action="{% url "eleve arrive" %}" method="post">
    {% csrf_token %}
    
    <div style="display:inline-block;">
    {{parent_form.management_form}}
   {% for titre,form in parents.items %}
    <h2>{{titre}}</h2>
    {{form}}
    {% endfor %}
    
    </div>
    <br><br>
    <div>
    <h2>Eleve:</h2>
    {{eleve_form.as_p}}
    </div>
    <span>
    <input type="submit" value="Submit" name="end" />
    </span>
    <span>
        <input type="submit" value="Submit & add other" name="submit & add other"/>
    </span> 
</form>
{% endblock %}