{% extends "layout.html" %}
{%load static %}
{% block title %} Initiate data {% endblock %}
{% block content %}

{% if done %} Donnees generes !{% endif %}
{% if already %} Donnees existant !{% endif %}
<form action="{% url "initiate data" %}" method="post">
{% csrf_token %}
<div>
<button type="submit" value="Submit" name="Creneaux"> Generer les creneaux </button>
</div>

<div>
<button type="submit" value="Submit" name="Curricilum"> Generer les curriculums </button>
</div>

<div>
<button type="submit" value="Submit" name="Matiere"> Generer les matieres </button>
</div>
</form>
{% endblock %}