{% extends "layout.html" %}
{%load static %}
{% block title %} Nouveau coach {% endblock %}
{% block content %}

{% if envoi %} Le coach a été bien ajouté !{% endif %}
<h2>Ajouter un nouveau coach</h2>
<form action="{% url "nouveau coach" %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}

   <span>
    <input type="submit" value="Submit" name="end" />
    </span>
    <span>
        <input type="submit" value="Submit & add other" name="submit & add other"/>
    </span> 
</form>
{% endblock %}