{% extends "layout.html" %}
{%load static %}
{% block title %} Nouveau élève {% endblock %}
{% block content %}


<h2>Ajouter un nouveau élève</h2>

{% if famille %}
<form action="{% url 'nouveau eleve' id %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <span>
    <input type="submit" value="Submit" name="end" />
    </span>
    <span>
        <input type="submit" value="Submit & add other" name="submit & add other"/>
    </span>
</form>

{% else %}
<form action="{% url 'nouveau eleve' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" name="end" />
</form>
	

{% endif %}

{% endblock %}	