{% extends "layout.html" %}
{%load static %}
{% block title %} Déclarer une seance de cours {% endblock %}
{% block content %}


<h2> Description séance </h2>
<h3>Date : </h3>{{ date_seance }} <br/>
<h3>Heure : </h3>{{ heure_seance }} <br/>
<h3>Statut : </h3> {{ statut}} <br/>
<br/>
<br/>

<br/>
<br/>


<!--
<h2> Eleves présents </h2>
<form action="{% url 'report seance' id %}" method="POST">
{% for eleve in eleves %}
    <input type="checkbox" name="eleves" value= "{{ eleve.id}}" > {{ eleve }} <br>
{% endfor %}
<input type="submit" name="Déclarer">
</form>
-->

<form action="{% url 'report seance' id %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>

{% endblock %}