{% extends "layout.html" %} {%load static %} {% block title %} Nouvelle séance coaching {% endblock %} {% block content %} {% if envoi %} La séance a été bien ajouté !{% endif %}
<h2>Séance coaching</h2>
<form action="{% url "seance coaching" %}" method="post">
    {% csrf_token %}
    <div id="curriculum_id">
        {{form.curriculum.errors}} {{form.curriculum.label_tag}} {{form.curriculum}} {{form.curriculum.help_text}}
    </div>

    <div id="eleve_id">

        {{form.eleve.errors}} {{form.eleve.label_tag}} {{form.eleve}} {{form.eleve.help_text}}
    </div>
    <div class="col-xs-12 student">
    <button type="button" value="button" name="button" style class="col-xs-2 col-xs-offset-5" >Choisir les élèves</button>
    </div>
    <div class="col-xs-12 separation">&nbsp; </div>
    <div id="matiere_id" class="col-xs-12">
        {{form.matiere.errors}} {{form.matiere.label_tag}} {{form.matiere}} {{form.matiere.help_text}}
    </div>
    <div id="coach_id">
        {{form.coach.errors}} {{form.coach.label_tag}} {{form.coach}} {{form.coach.help_text}}
    </div>
    <div id="date_id">
        {{form.date.errors}} {{form.date.label_tag}} {{form.date}} {{form.date.help_text}}
    </div>
    <div id="creneau_id">
        {{form.creneau.errors}} {{form.creneau.label_tag}} {{form.creneau}} {{form.creneau.help_text}}
    </div>
    <div id="salle_id">
        {{form.salle.errors}} {{form.salle.label_tag}} {{form.salle}} {{form.salle.help_text}}
    </div>
    <div id="chapitre_id">
        {{form.chapitre.errors}} {{form.chapitre.label_tag}} {{form.chapitre}} {{form.chapitre.help_text}}
    </div>
    <div id="notions_id">
        {{form.notions.errors}} {{form.notions.label_tag}} {{form.notions}} {{form.notions.help_text}}
    </div>

    <div class="col-lg-6">
        <input type="submit" value="Submit" name="end" />
    </div>
    <div class="col-lg-6">
        <input type="submit" value="Submit & add other" name="submit & add other" />
    </div>
</form>


<style type="text/css">



input[type=text],input[type=number] ,select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

h1,h2 {
    text-align: center;
}
input[type=submit] {
  width: 100%;
  background-color: #012168;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display : block-inline
  
}
button{
    width: 100%;
  background-color: ##F8F8FA;
  color: rgb(16, 12, 78);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.separation{
    height : 50px;
}
.student {
    position: absolute;
    padding: 12px 70px;
    
}
.col-lg-6 {
    
    margin-top: 100px;
}

#id_eleve label{
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


#id_eleve label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
#id_eleve label:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
#id_eleve label input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
#id_eleve label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
#id_eleve label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

</style>


{% endblock %} {% block javascript %}
<script>
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    var csrftoken = Cookies.get('csrftoken');
    $(function() {

        $chapitre = $('#chapitre_id');
        $notions = $('#id_notions , #notions_id');
        $matiere = $('#matiere_id');
        $first_step = $('#matiere_id,#coach_id,#date_id,#creneau_id,#salle_id');
        $first_step.hide();
        $chapitre.hide();
        $notions.hide();
        $('#id_curriculum').on("change", function() {

            var $option = $(this).find('option:selected');
            var value = $option.val(); //returns the value of the selected option.

            $.post(
                '/TGA_tool/seance-coaching.html', {
                    curriculum_id: value
                },
                function(data) {

                    $("#id_eleve").empty()
                    $("#id_eleve").append(data);
                    $('#id_eleve label').append('<span> </span>');//add span without class (does not accept with class)
                    $('#id_eleve label span').addClass("checkmark");


                },
                'html',
            );



        });

        $("button").on("click", function() {
            var eleves = [];
            $.each($("input[name='eleve']:checked"), function() {
                eleves.push($(this).val());
            });
            list = eleves.join(",");

            $.post(
                '/TGA_tool/seance-coaching.html', {
                    eleves_id: list
                },
                function(data) {
                    if (data != "None") {
                        $("#id_matiere").empty();
                        $("#id_matiere").append(data);
                        $matiere.show();

                    } else {
                        $("#id_matiere").empty();
                        $first_step.hide();
                    };



                },
                'html',
            );

        });



        $('#id_matiere').on("change", function() {
            var $option = $(this).find('option:selected');
            var value = $option.val(); //returns the value of the selected option.
            console.log(value)
            $.post(
                '/TGA_tool/seance-coaching.html', {
                    matiere_id: value
                },
                function(data) {
                    console.log(data);
                    splitedData = data.split('iii');
                    console.log(splitedData);
                    $("#id_chapitre").empty();
                    $("#id_chapitre").replaceWith(splitedData[1]);
                    $("#id_coach").empty(); // dont remove text only           
                    $("#id_coach").replaceWith(splitedData[0]);

                    $('#coach_id').show();

                },
                'html',
            );

        });
        
        $('#coach_id').on("change", function() {
            $first_step.show();
            //$chapitre.show();
        });
        /*
        $('#chapitre_id').on("change", function() {
            var $option = $(this).find('option:selected');
            var value = $option.val(); //returns the value of the selected option.

            $.post(
                '/TGA_tool/seance-coaching.html', {
                    chapitre_id: value
                },
                function(data) {

                    $("#id_notions").empty()
                    $("#id_notions").append(data);
                    $notions.show();
                },
                'html',
            );

        });*/

    });

</script>

{% endblock %}
