{% load static%}
<!DOCTYPE html>
<html>
  <head>
    <title> {% block title%} TGA Management Tool  {% endblock %} </title>
    
    <meta charset="utf-8" />
    
    <script src="{% static 'jquery/jquery.js' %}"></script> 
    <link rel="stylesheet" href="{% static 'css/kosygin-style.css' %}" type="text/css" />

    <style type="text/css">

       /* Style en test ici avant d'être mis dans la feuille de style  */

    </style>
  </head>

  <body>
    {% block nav %}
    <div class="header">
        <h1><a href="/admin/">The Global Academy</a></h1>
        <p> We fly to excellence ! </p>

        

        <div class="topnav" id="myTopnav">
        
            <a href="/TGA_tool/home.html">Home</a>
            <a href="#news">Notifications</a>
            <button type="submit">Submit</button>
            <input type="text" placeholder="Search..">

        </div>
    </div>

    <div class="container">
  
      <div class ="sidebar">
          <button class="accordion">Inscription</button>
          <div class="panel">
          <ul>
             <li><a href="/TGA_tool/eleve-arrive.html"> +Eleve </a></li>
            
             <li><a href="/TGA_tool/nouveau-coach.html"> Coach </a></li>

          </ul>
          </div>

          <button class="accordion">Planification</button>
          <div class="panel">
            <ul>
                <li><a href="/TGA_tool/nouveau-cours.html"> +Cours</a> </li>
                <li><a href="/TGA_tool/modifier-seance_cours.html">Séance cours</a></li>
                <li><a href="/TGA_tool/nouvelle-matiere.html">Programme</a></li>
                <li><a href="/TGA_tool/calendar.html">Calendrier</a></li>
                <li> autre ... </li>

            </ul>
          </div>

          <button class="accordion">Suivi cours</button>
          <div class="panel">
            <ul>
                <li><a href="/admin/material-insert.html">Add material</a></li>
                <li><a href="/admin/container-insert.html">Add container</a> </li>
                <li>Suivi présence</li>
                <li>Suivi pédagogique </li>
            </ul>
          </div>

          <button class="accordion">Suivi paiements</button>
          <div class="panel">
            <ul>
                <li><a href="/admin/material-move.html"> déclarer un paiement</a> </li>
                <li><a href="/admin/container-move.html"> éditer une facture</a></li>
                  <li><a href="/admin/material-consume.html"> xxx </a></li>
                   <li><a href="/admin/material-checkout.html"> yyy</a></li>

                <li>zzzz</li>

            </ul>
          </div>

            <button class="accordion"> Tableau de bord </button>
          <div class="panel">
            <ul>
                <li><a href="/admin/personel-insert.html">xxx</a></li>
                <li><a href="/admin/move-personel.html">yyy</a> </li>
                <li>zzzz</li>

            </ul>
          </div>
    

      </div>

     {% endblock %}
      <div class="content">
          <section id="main">

             {% block content %}{% endblock %}
        

          </section>

      </div>
   
    </div>

    <div class="footer">
      <p>TGA Excellence Center Copyright 2018</p>
    </div>

  </body>
</html>


<script type="text/javascript">

$(function(){
  
// placing objects inside variables
var content = $('.content');
var sidebar = $('.sidebar');
var moveContainer = $('#MoveContainer');
var from = $('.from');
var to = $('.to');

// get content and sidebar height in variables
var getContentHeight = content.outerHeight();
var getSidebarHeight = sidebar.outerHeight();
var getMoveContainerHeight = moveContainer.outerHeight();



// check if content height is bigger than sidebar
if ( getContentHeight > getSidebarHeight ) {
  sidebar.css('min-height', getContentHeight);
}

// check if sidebar height is bigger than content
if ( getSidebarHeight > getContentHeight ) {
  content.css('min-height', getSidebarHeight);
}





// Accordeon
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}


});

</script>