{% load static%}
<!DOCTYPE html>
<html>
  <head>
    <title> {% block title%} TGA Management Tool  {% endblock %} </title>
    
    <meta charset="utf-8" />
    

    <script src="{% static 'jquery/jquery.js' %}"></script> 
    <!--
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    -->
    <link rel="stylesheet" href="{% static 'css/kosygin-style.css' %}" type="text/css" />
    <link rel='stylesheet' href="{% static 'calendar/fullcalendar.css' %}" type ="text/css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'calendar/fullcalendar.print.min.css' %}" media="print" /> 
    <script src="{% static 'calendar/lib/moment.min.js' %}"></script>
    <script src="{% static 'calendar/lib/jquery.min.js' %}"></script>
    <script src="{% static 'calendar/fullcalendar.min.js' %}"></script>   

    <style type="text/css">

       /* Style en test ici avant d'être mis dans la feuille de style  */

    </style>
  </head>

  <body>
    {% block nav %}
    <div class="header">
        <h1><a href="/admin/">The Global Academy</a></h1>
        <p> We fly to excellence ! </p>

        

        <div class="topnav" id="myTopnav">
        
            <a href="/TGA_tool/home.html">Home</a>
            <a href="#news">Notifications</a>
            {% if user.is_authenticated %}
            <a href = "/TGA_tool/deconnexion"> Déconnexion </a>
            
            {% else %}
            <a href = "/TGA_tool/connexion"> Connexion </a>
            {% endif %}

            <button type="submit">Submit</button>
            <input type="text" placeholder="Search..">

        </div>
    </div>

    <div class="container">
  
      <div class ="sidebar">
          <button class="accordion">Inscription</button>
          <div class="panel">
          <ul>
            <li><a href="/TGA_tool/nouvelle-famille.html"> +Famille </a></li>      
             <li><a href="/TGA_tool/nouveau-coach.html"> +Coach </a></li>

          </ul>
          </div>

          <button class="accordion">Planification</button>
          <div class="panel">
            <ul>
                <li><a href="/TGA_tool/nouveau-cours.html"> +Cours</a> </li>
                <li><a href="/TGA_tool/modifier-seance_cours.html">Séance cours</a></li>
                <li><a href="/TGA_tool/nouvelle-matiere.html">+Matière</a></li>
                
                <li> autre ... </li>

            </ul>
          </div>

          <button class="accordion">Suivi pédagogique</button>
          <div class="panel">
            <ul>
                <li><a href="/TGA_tool/mes-cours.html"> Mes cours</a></li>
                <li><a href="/TGA_tool/calendar.html">Mon planning des séances </a></li>
                <li><a href="/admin/container-insert.html">Déclaration de séance</a> </li>
                <li><a href="/admin/container-insert.html">Relevé des absences</a> </li>
          </div>

          <button class="accordion">Suivi paiements</button>
          <div class="panel">
            <ul>
                <li><a href="/admin/material-move.html"> déclarer un paiement</a> </li>
                <li><a href="/admin/container-move.html"> éditer une facture</a></li>
                  <li><a href="/admin/material-consume.html"> xxx </a></li>
                   <li><a href="/admin/material-checkout.html"> yyy</a></li>

                <li>zzzz</li>

            </ul>
          </div>

            <button class="accordion"> Tableau de bord </button>
          <div class="panel">
            <ul>
                <li><a href="/admin/personel-insert.html">xxx</a></li>
                <li><a href="/admin/move-personel.html">yyy</a> </li>
                <li>zzzz</li>

            </ul>
          </div>
    

      </div>

     {% endblock %}
      <div class="content">
          <section id="main">
                <!-- Affichage des messages à l'utilisateur  -->
                {% if messages %}
                <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                </ul>
                {% endif %}

             {% block content %}{% endblock %}

          </section>

      </div>
   
    </div>

    <div class="footer">
      <p>TGA Excellence Center Copyright 2018</p>
    </div>
  </body>
</html>

{% block javascript %}{% endblock %}

<script type="text/javascript">

$(function(){
  
// placing objects inside variables
var content = $('.content');
var sidebar = $('.sidebar');
var moveContainer = $('#MoveContainer');
var from = $('.from');
var to = $('.to');

// get content and sidebar height in variables
var getContentHeight = content.outerHeight();
var getSidebarHeight = sidebar.outerHeight();
var getMoveContainerHeight = moveContainer.outerHeight();



// check if content height is bigger than sidebar
if ( getContentHeight > getSidebarHeight ) {
  sidebar.css('min-height', getContentHeight);
}

// check if sidebar height is bigger than content
if ( getSidebarHeight > getContentHeight ) {
  content.css('min-height', getSidebarHeight);
}

// Accordeon
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}


});

</script>